@mixin rating-label {
  float: left;
  width: 50%;
  margin-right: $horz-spacing-unit;
  line-height: 2em;
}
@mixin prepend-icon-mobility {
  padding-left: 20px;
  background: url(../images/icon_mobility.gif) left center no-repeat;
}
@mixin prepend-icon-visual {
  padding-left: 20px;
  background: url(../images/icon_visual.gif) left center no-repeat;
}
@mixin prepend-icon-hearing {
  padding-left: 20px;
  background: url(../images/icon_hearing.gif) left center no-repeat;
}
.rate-info .label {
  @include rating-label();
  width: 6em;
}
// label icons
.label.visual {
  @include prepend-icon-visual();
}
.label.hearing {
  @include prepend-icon-hearing();
}
.label.mobility {
  @include prepend-icon-mobility();
}

// rating bar
.result {
  float: left;
  line-height: 2em;
  .percentage-bar {
    @include inline-block;
    background: $red;
    width: 10em;
    height: 1em;
    &.empty{
      background-color: $pale-blue;
    }
    div.good{
      display: block;
      background: $green; 
      height: 1em;
    }
  }
}