@mixin rating-label {
  float: left;
  width: 55%;
  margin-right: 1rem;
  line-height: 2em;
}

@mixin prepend-icon-mobility {
  padding-left: $icon-padding;
  background: url(../images/icon_mobility.gif) left center no-repeat;
}
@mixin prepend-icon-visual {
  padding-left: $icon-padding;
  background: url(../images/icon_visual.gif) left center no-repeat;
}
@mixin prepend-icon-hearing {
  padding-left: $icon-padding;
  background: url(../images/icon_hearing.gif) left center no-repeat;
}
.rate-info {
  @include font-size(16px);
  .label {
    @include rating-label();
    width: 5em;
    @include at-breakpoint($tab) {
      width: 6em;
    }
  }
}
// label icons
.label.visual {
  @include prepend-icon-visual();
}
.label.hearing {
  @include prepend-icon-hearing();
}
.label.mobility {
  @include prepend-icon-mobility();
}

// rating bar
.result {
  float: left;
  line-height: 2em;
  .percentage-bar {
    @include inline-block;
    background: $red;
    width: 8em;
    height: 1em;
    &.empty{
      background-color: $pale-blue;
    }
    div.good{
      display: block;
      background: $green; 
      height: 1em;
    }
    @include at-breakpoint($tab) {
      width: 10em;
    }
  }
}