.node--location {
  .location-locations-header {
    display: none;
  }
  .group_location {
    .field--name-field-title {
      display: none;
    }
    .description {
      display: none;
    }
    .field--name-field-edit {
      float: left;
      height: 2.5rem;
      a.button {
        height: 2rem;
        background-color: $button-color-secondary;
        &:hover {
          background-color: darken($button-color-secondary, 10%);
        }
      }
    }
    .group-location-content {
      clear: both;
    }
  }
  .field--name-field-subheading {
    @extend .gamma;
    @include font-size(26px);
  }
  .group-visual .description {
    @include prepend-icon-visual;
  }
  .group-hearing .description {
    @include prepend-icon-hearing;
  }
  .group-mobility .description {
    @include prepend-icon-mobility;
  }
  .group_mobility, .group-visual, .group-hearing {
    clear: both;
    margin-bottom: $vert-spacing-unit;
    .description {
      @extend .gamma;
      border-bottom: 1px solid $light-grey;
    }
  }
  .shade {
    background: #000;
  }
}
@include at-breakpoint($tab) {
  .group_mobility, .group_visual, .group_hearing {
    .rate-field-label {
      @include rating-label;
      width: 20rem;
    }
    .rate-widget {
      float: left;
    }
  }
}

@include at-breakpoint($desk) {
  .field--name-field-latitude, .field--name-field-category {
    float: right;
    margin-left: 1rem;
  }
}