/**
 * $SITE-BRANDING
 */
.site-branding {
  padding: 0.5em 0;
  @include clearfix(true);
}

.site-branding__logo {
  display: block;
  float: left;
}

.site-branding__logo {
  width: 60px;
  height: 66px;
  margin-right: $horz-spacing-unit /2;
}
.site-branding__name {
  @extend .beta;
  color: #FFF;
  text-decoration: none;

  &:hover {
    color: $dark-blue;
  }
}
.site-branding__slogan {
  font-size: 1.2em;
  display: none;
  @include at-breakpoint($tab) {
    display: block;
  }
}