/**
 * $SEARCH-FORM
 */
.new-search-button {
  display: none;
}
.page-search-review-result {
  .views-exposed-form-search-page {
    display: none;
  }
  .new-search-button {
    display: block;
    width: 10em;
    margin: 0 auto;
  }
}
.block--views-exp-search-page {
  padding: 0 1em;
  input, select, .button {
    width: 100%;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
    padding: 0.5em 0;
  }
  .views-submit-button {
    margin-top: 1em;
  }
  .button {
    text-align: center;
  }
  @include at-breakpoint($tab) {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    .views-exposed-form .views-exposed-widget:not(.views-submit-button) {
      @include span-columns(3, 12);
      float: left;
    }
    .views-widget-filter-location_value label {
      display: block;
    }
    .views-exposed-form .views-exposed-widget.views-submit-button {
      @include span-columns(2, 12);
      float: left;
      line-height: 57px;
      margin-top: 0;
    }
    .views-exposed-form-search-page {
      display: block;
    }
  }
}
.views-widget-filter-distance, .views-widget-filter-title, .checkboxFilter, [class*='views-widget-filter-field']:not([class*='views-widget-filter-field_category_tid']) {
  display: none;
}
