/**
 * $SEARCH-FORM
 */
.views-exposed-form-search-page {
  input, select {
    width: 100%;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
  }
  .views-widget-filter-distance, .views-widget-filter-title, .checkboxFilter {
    display: none;
  }
}