/**
 * MAIN-MENU
 */

.block--menu.block--system-main-menu {
  border-top: 1px solid $dark-blue;
  @include at-breakpoint($tab) {
    border-top: none;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
      height: 40px;
      line-height: 40px;
      margin: 0 $horz-spacing-unit;
      -moz-transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      @include at-breakpoint($tab) {
        height: 80px;
        line-height: 80px;
      }
      &:hover{
        border-bottom: 0.5em solid $dark-blue;
        a {
          color: $dark-blue;
        }
      }
    }
  }
  a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    color: #fff;
    height: 100%;
    display: block;
  }
}