/**
 * MAIN-MENU
 */

.block--menu.block--system-main-menu {
  border-top: 1px solid $dark-blue;
  @include at-breakpoint($tab) {
    border-top: none;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      @include button2(#a65353);
      list-style: none;
      float: left;
      margin: 0 $horz-spacing-unit / 2;
      &.first {
        @include button2(#397339);
      }
      &.last {
        @include button2(#e77b36);
      }
      @include at-breakpoint($tab) {
        margin-top: 25px;
      }
    }
  }
}