@import 'buttons/options';
@import 'buttons/glow';

@mixin button() {
  display: inline-block;
  height: 2.2em;
  margin: 0;
  padding: 0 1.2em;

  background-color: $dark-grey;

  border: none;

  color: #FFF;
  font-weight: 700;
  font-family: inherit;
  font-size: 100%;
  line-height: 2.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;

  overflow: visible;
  cursor: pointer;

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    background-color: $mid-grey;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin button2($background) {
  @include box-shadow(none);
  @include transition-property(background);
  @include transition-duration(.3s);
  @include border-radius(3px);
  @include inline-block(middle);
  @include glow();
  @include font-size($font-size * 0.9);
  height: $height;
  line-height: $height;
  padding: 0px 1em;
  font-weight: $font-weight;
  font-family: $font-family;
  text-decoration: none;
  text-align: center;
  background: $background;
  border: none;
  text-shadow: none;

  &:hover {
      background: lighten($background, 5%);
  }
  &:active {
      @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, .3), 0px 1px 0px rgba(255, 255, 255, 1));
      @include transition-duration(0s);
      background: desaturate($background, 20%);
      color: darken($background, 20%);
      text-shadow: 0px 1px 0px rgba(255, 255, 255, .4);
  }
  &.disabled {
      @include box-shadow(none);
  }
  &:focus {
      outline: none;
  }
  a {
    text-decoration: none;
    color: #fff;
    height: 100%;
    display: block;
  }
  @include at-breakpoint($tab) {
  }
  @include at-breakpoint($desk) {
    @include font-size($font-size);
  }
}