/**
 * $SITE-BRANDING
 */
.site-branding {
  padding: 1em 0;
  @include clearfix(true);
}

.site-branding__logo {
  display: block;
  float: left;
}

.site-branding__logo {
  width: 72px;
  height: 79px;
  margin-right: $horz-spacing-unit;
}
.site-branding__name {
  @extend .beta;
  color: #FFF;
  text-decoration: none;
  margin

  &:hover {
    color: $dark-blue;
  }
}
.site-branding__slogan {
  font-size: 1.2em;
}