/** mobile layout **/
/** Layout **/
/** Color Schemes **/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kelvin\/Sites\/tchair\/sites\/travellingchair\.net\/themes\/tchair\/sass\/_variables\.scss}line{font-family:\0000377}}
h1, h2, h3, h4, h5, h6 {
  color: #328c37;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kelvin\/Sites\/tchair\/sites\/travellingchair\.net\/themes\/tchair\/sass\/tabs-rtl\.scss}line{font-family:\0000310}}
ul.primary li,
ul.secondary li {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kelvin\/Sites\/tchair\/sites\/travellingchair\.net\/themes\/tchair\/sass\/tabs-rtl\.scss}line{font-family:\0000316}}
ul.primary li {
  margin: 0.5em 3px 0 0;
}
