// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 1rem;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 920px;

$tab: 44em 12; // At 44em use 12 columns.
$desk: 70em 12; // At 70em use 12 columns.
